.current {
  color: green;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.col1 {
  text-align: center;
  font-weight: bold;
}

.col2, .col4, .col6, .col8 {
  background-color: lightgray;
}

img {
  max-height: 500px;
  max-width: 100%;
  margin: auto;
}

img[src*="#thumbnail"] {
  display: block;
}

img[src*="#tiny"] {
  width: 45%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  font-size: 80%;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.hr-left {
  height: 1px;
  border-width: 0;
  color: gray;
  background-color: gray;
  width: 30%;
  text-align: left;
  margin-left: 0;
}

.hr-center {
  height: 1px;
  color: gray;
  background-color: gray;
  width: 50%;
  text-align: center;
}

blockquote {
  padding-left: 1em;
  border-left: 0.2em solid lightblue;
  line-height: 1.5em;
}

/*# sourceMappingURL=styles.css.map */